/*----------------MAIN----------------------*/

@import "./nord.css";

* {
	all: unset;
	font-family: NotoSansM Nerd Font;
	font-size: 10pt;
}

#waybar {
	background: alpha(@nord0, 1);
	color: white;
}
tooltip {
	background: rgba(0, 0, 6, 0.8);
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: none;
}
tooltip label {
	font-size: 14px;
	padding: 3px 5px;
	text-shadow: none;
}

/*---------------TOPBAR---------------------*/

#workspaces button {
	background-color: @nord1;
	color: @nord6;
	border: 0px solid rgba(255,255,255,0.05);
	margin: 0px 0px;
	padding: 0px 10px;
	min-width: 24px;
}
#workspaces button.empty {
	padding: 0px 2px;
	min-width: 24px;
}
#workspaces button.focused {
	background-color: @nord10;
	color: @nord6;
}
#workspaces button.urgent {
	background-color: @nord12;
	color: @nord6;
}

/* CAVA */
#custom-cava-left, #custom-cava-right {
	padding: 0px 4px;
	color: @nord9;
}

/*--------------BOTTOMBAR-------------------*/

/* SEPARATORS */
#custom-s-gray {
	color: @nord4;
	margin: 0px 12px;
}
#custom-s-rose {
	color: @nord14;
	margin: 0px 6px;
	font-size: 7pt;
}
#custom-s-gold {
	color: @nord8;
	margin: 0px 6px;
	font-size: 7pt;
}
#custom-s-yellow {
	color: @nord13;
	margin: 0px 6px;
	font-size: 7pt;
}

/* SENSORS */
#cpu, #custom-cpu-temp, #custom-dgpu-load, #custom-dgpu-temp, #memory, #disk, #custom-fan1, #custom-fan2 {
	color: @nord7;
}

/* TRAY */
#tray {
	margin-right: 0px;
	margin-left: 4px;
}
#tray menu {
	background: @nord0;
	padding: 3px;
	border: 2px solid @nord2;
}
#tray menuitem {
	background: @nord1;
	border: 1px solid @nord2;
	margin: 1px;
	padding: 0px;
}
#tray menuitem label {
	font-size: 14px;
	padding: 0px 3px 0px 3px;
}
#tray menuitem:hover {
    background: @nord2;
}

/* ICONS */
#custom-notifs, #idle_inhibitor, #power-profiles-daemon {
	font-size: 12pt;
	color: @nord15;
	margin: 0px 10px 0px 0px;
}

/* WIREPLUMBER */
#wireplumber {
	color: @nord14;
}

/* BACKLIGHT */
#backlight {
	color: @nord14;
}

/* BLUETOOTH */
#bluetooth {
	color: @nord13;
}

/* NETWORK */
#network {
	color: @nord13;
}

/* BATTERY */
#battery {
	color: @nord13;
}
#battery.warning {
	color: @nord12;
}
#battery.critical {
	color: @nord11;
}

/* CLOCK */
#clock {
	color: @nord15;
	margin-right: 6px;
}